footer {
    background-color: beige;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: black;
        height: 200px;

}

footer div {
    display: flex;
    align-items: center;
}

.sociais {
    font-size: 18px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contato {
    display: flex;
    gap: 10px;
}

.Scontato {
    display: flex;
    flex-direction: column;
    gap: 10px;
}