* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
  list-style: none;
  
}


body {
  gap: 20PX;
  width: 100vw;
  background-image: linear-gradient(to bottom, #555555, #444444, #363636);
}